body {
  font-family: Arial, sans-serif;
  max-height: 100vh;
}

nav {
  background-color: #ff4081;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  display: flex;
  flex-direction: row;
  row-gap: 2px;
}

nav a:hover {
  color: #ccc;
}

section {
  display: none;
  padding: 20px;
}

/* Show the active section */
section:target {
  display: block;
}

/* Hide all other sections */
section:not(:target) {
  display: none;
}

h1 {
  margin: 0;
  padding: 1em;
  text-align: center;
  background-color: #ff4081;
  color: black;
  font-size: 30px;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 20px;
}

.book-form label {
  margin-right: 10px;
}

#add-button {
  margin-left: 10px;
}

#book-list {
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  max-height: 50vh;
}

#books {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(48, 46, 47);
  border-radius: 5px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgb(105, 8, 76);
}

.book-item h3 {
  margin: 0;
}

.book-item button {
  cursor: pointer;
  padding: 0.5em;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
}

.add-book {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
  font-size: 30px;
  max-width: 500px;
  padding: 1em;
}

.list {
  max-width: 500px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  column-gap: 1em;
}

input[type="text"] {
  padding: 0.5em;
  border: 3px solid #868484;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

button[type="submit"] {
  padding: 0.5em;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0.5em;
  cursor: pointer;
}

li:hover {
  background-color: #eee;
}

li.selected {
  background-color: #ff4081;
  color: #fff;
}

.contact {
  display: flex;
  background-color: whitesmoke;
  height: 60vh;
  text-align: center;
}

.contact > h2 {
  font-size: 30px;
  padding: 10px;
}

.contact > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  border: 5px solid black;
  border-radius: 8px;
  width: 98%;
  position: absolute;
}
